@import "@/assets/settings";

.z-button {
  @include clickable-item;

  &--primary {
    color: white;
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: 1px solid $color-primary;
    transition: all 0.3s ease-in-out;

    &:not(:disabled):hover {
      color: $color-primary;
      background: white;
    }
  }

  &--medium {
    height: 46px;
    font-size: 14px;
    font-weight: 500;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
