@import "mixins";
@import "transitions";

$color-page-bg: #fbfcfe;

$color-primary: #4a24ac;
$color-secondary: #363c56;

$color-grey-light: #fafafa;
$color-grey-dark: #aaa;
$color-grey-dark-2: #676c8020;
