[run]
branch = False

[report]
exclude_lines =
    pragma: no cover
    __init__

    def __unicode__
    def __repr__
    def __str__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:

omit = manage.py
       build/*
       zadanie/asgi.py
       zadanie/wsgi.py
       */apps.py
       */__init__.py
       */admin.py
       */commands/*
       */migrations/*
       */scripts/*
       */tests/*
       */settings/*
       */urls.py

show_missing = True
